@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .container {
  margin-left: 100px;
  margin-right: 100px;
} */

.py-8 {
  padding-top: 10%;
  padding-bottom: 10%;
}
.px-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.px-05 {
  padding-left: 5%;
  padding-right: 5%;
}


h1,
h2,
h3 {
  font-family: Libre Baskerville, sans-serif;
}

h3 {
  font-size: 2.2em;
}

h2 {
  font-size: 80px;
  line-height: 1.1;
}

p,
span {
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
}

p{
  opacity: 0.6;
}



.durability div{
  width: 600px;
}


.list-group-item {
  opacity: 0.5;
  border: none;
  border-radius: 0;
  border-left: 2px solid #d9d9d9;
  padding-left: 40px;
  background-color: none;
  transition: 0.4s;
}

.list-group {
  border-radius: 0;
  --bs-list-group-active-color: #ffffff00;
  --bs-list-group-active-bg: hsla(216, 98%, 52%, 0);
  --bs-list-group-active-border-color: #000;
  --bs-list-group-bg:none;
}

.list-group-item.active {
  color: #000;
}

.list-group-item.active {
  opacity: 1;
}

.list-group-item-action:hover {
  z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
  opacity: 1;
}

item-action:hover {
  /* z-index: 1;
  color: var(--bs-list-group-action-hover-color);
  text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto; */
  background-color: none;
}

.video-word{
  position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    /* z-index: -1; */

}

.world-class{
  background-color: #ddd7d0;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

.video-word-cadre{
  width: 100%;
  height: 800px;
}

.designed-icon p{
  width: 200px;
  margin: 0;
}

/* .designed-icon img{
  width: 400px;  
} */


.our-culture-title{
  padding-left: 25%;
  padding-right: 30%;
}

.our-culture{
  border: none;
  background-color: transparent;
}
.our-culture .card-body{
  background-color: #c8c8c8;
}

.our-culture-3{
  border: none;
  background-color: transparent;;
}
.our-culture-3 .card-body{
  background-color: #cdcdcd;
}


.creating-beauty{
  background-color: #f2f2f2;
}





/* --------------------- Swiper ------------------ */

.swiper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 



.swiper2 {
  width: 100%;
  height: 100%;
}

.swiper2-main p{
  font-size: 0.9rem;
}

.swiper2 .swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper2 .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: #cccccc;
  padding: 8px;
  border-radius: 50px;
  width: 28px;
  height: 28px;
}

.swiper-button-next, .swiper-button-prev {
  
  width: 28px;
  height: 28px;
}